---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { employee } = Astro.props;
const { img, name, title, description } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpeg,jpg,png,gif}");
if (!images[img]) throw new Error(`"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);
---

<article>
  <Image src={images[img]()} alt={name} />
  <h5>{name}</h5>
  <p>{description}</p>
  <div class="iconer">
    <Icon name="instagram" />
    <Icon name="twitter" />
    <Icon name="facebook" />
  </div>
</article>

<style>
  @layer components {
    article {
      color: var(--color-primary3);
      text-align: center;
      p {
        color: var(--color-text);
      }
    }
    img {
      border-radius: 20px;
    }

    .iconer {
      display: flex;
      gap: 29px;
      justify-content: center;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
</style>
